.container {
  border: 1px solid #ccc;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

input {
  display: block;
  width: 500px;
  margin: 10px 0;
  margin-left: 10px;
  padding: 8px;
}

.buttonContainer {
  display:flex;
  margin-left: 10px; 
  margin-bottom: 10px;
  gap: 10px;
}

.task {
  border: 1px solid #ccc;
  background-color: rgb(245, 238, 162);
  padding: 10px;
  margin-top: 10px;
  text-align:left;
}