.baseContainer {
  background-image: url("./images/TaskManagerWallpaper.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
}
h1 {
  background-color: rgb(168, 168, 168);
  text-align: center;
}

.container {
  border: 1px solid #aaa;
  background-color: white;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

input:not(#colorPicker) {
  display: block;
  width: 500px;
  margin: 10px 0;
  margin-left: 10px;
  padding: 8px;
}

.buttonContainer {
  display: flex;
  margin-left: 10px;
  margin-bottom: 10px;
  gap: 10px;
}

.task {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  text-align: left;
}
